div.pagina {text-align: center;}
div.container-header {background-color: black;}
h2.h2blu { color: rgb(117, 201, 229);}
h1.main-title {color: rgb(117, 201, 229);}
div.box1{background-image: url(banner.jpg);
         background-position: center;
        background-size: auto;
        justify-content: center;
        align-items: center;
        height: 200px;}
#partiamo {background-color: orange;
color: white;}
div.round-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; }
div.round-container img {    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;}
#divred {background-color: red;}
#h1red {color: white;}
#pred { color: white;}
#h2red {color: white;}
#h3red {color: white;}
div.container {    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;}
footer.footer {background-color:  rgb(117, 201, 229);}
p.Contattaci {color: white;}
p#indirizzo {color: white;}
p#Email {color: white;}
p#numero-telefono {color: white;}
p#closing {color: white;}